body {
    background-image: url(../images/sam-jotham-sutharson-633524-unsplash.jpg);
    background-size: 100%
}

.quote{
    font-size: 5vw;
    color: rgb(183, 224, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.logo, .home_button, .logout, .logout_button, .home, .profile {
    font-size: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(2, 39, 39);
    width: 20vw;
    text-align: center;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#blue {
    color: rgb(122, 122, 202);
}

#yellow {
    color: rgb(223, 223, 62);
}

#whitish {
    color: rgb(183, 224, 224);
}

#green {
    color: rgb(69, 190, 69);
}

.description {
    width: 50vw;
    color: rgb(166, 223, 223);
    background-color: rgb(153, 105, 105, 0.4);
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    padding: 50px;
    margin-top: 35px
}

.login {
    color: aqua;
    width: 50vw;
    text-align: center;
    padding: 30px;
    margin-top: 40px;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly
}

.home_button a, .logout a, .logout_button a, .home a, .profile a{
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    background-color: rgb(202, 114, 114, 0.4);
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
}
.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: rgba(151, 43, 35, 0.4);
    margin-top: 30px;
    color: rgb(183, 224, 224);
    margin-top: 10%;
}

input {
    display: block;
    width: 80%;
    height: 20px;
    padding: 7px;
    margin-top: 9px;
    margin-bottom: 4px;
    margin-left: 8%;
    border: none;
}

#signup, #login {
    text-align: center;
    font-size: 30px;
}

label {
    margin-left: 8%;
}

button {
    width: 50%;
    margin-left: 25%;
    height: 40px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(230, 21, 21);
    color: rgb(183, 224, 224);
}

.signup-form span, .login-form span {
    margin-left: 28%;
    /* text-align: center; */

}

.signup-form span a, .login-form span a {
    color: rgb(122, 122, 202);
    text-decoration: none;
}

.red_flag {
    background-color: rgb(206, 82, 78, 0.4);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(183, 224, 224);
    display: flex;
    flex-direction: column;

}

.red_flag textarea{
    margin-left: 8%;
    width: 20vw;
    height: 100px;
}

.red_flag input {
    width: 7vmax;
    height: 5vh;
    
}

#geolocation {
    display: flex;
}

input[type="file"]{
    margin-left: 1.7vw;
}

.red_flag input[type="text"]{
    padding-top: 2px;
}

h3 {
    text-align: center;
}

.red_flag form {
    display: flex;
    flex-direction: column;
}

.dropdown_content1 {
    display: none;
    position: absolute;
    background-color: #5c15c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    /* z-index: 1; */
}

.dropdown1:hover .dropdown_content1 {
    display: block;
}

.dropdown1{
    height: 5vh;
    background: #8a6943;
    width: 10vw;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
}

.individual_records {
    background-color: rgb(206, 82, 78, 0.4);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 20px;
    color: rgb(183, 224, 224);


}
 .user_dashboard_body {
     display: flex;
     justify-content: space-between;
 }

 img {
     width: 100px;
     height: 100px;
     margin-right: 20px;
 }

 .user_details, .records {
    color: rgb(183, 224, 224);

 }

 table {
     width: 100%;
     border-collapse: collapse;
 }

 tr :nth-child(even){
     background-color: #6b5c4a;
 }

 .user_profile_body {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin-top: 20px;
     width: 100%;
     background-color: rgb(202, 114, 114, 0.4);
    }

 td, th {
    border: 1px solid #837171;
    text-align: left;
    padding: 8px;
}

.records {
    margin: auto;
    background-color: #42256e;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.user_details {
    margin: auto;
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
}

.users_records {
    background-color: rgb(202, 114, 114, 0.4);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex-wrap: wrap;
    color: rgb(183, 224, 224);


}

.user_contents {
    display: flex;
    flex-wrap: wrap;
}

form.search_record input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-left: 25vw;
}


