body {
    background-image: url(../images/sam-jotham-sutharson-633524-unsplash.jpg);
    background-size: 100%
}

.quote{
    font-size: 5vw;
    color: rgb(183, 224, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.logo, .home_button, .logout {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(2, 39, 39);
    width: 250px;
    text-align: center;
    border-radius: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
}

#blue {
    color: rgb(122, 122, 202);
}

#yellow {
    color: rgb(223, 223, 62);
}

#whitish {
    color: rgb(183, 224, 224);
}

#green {
    color: rgb(69, 190, 69);
}

.description {
    width: 50vw;
    color: rgb(166, 223, 223);
    background-color: rgb(153, 105, 105, 0.4);
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    padding: 50px;
    margin-top: 35px
}

.login {
    color: aqua;
    width: 50vw;
    text-align: center;
    padding: 30px;
    margin-top: 40px;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly
}

.home_button a, .logout a{
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    background-color: rgb(202, 114, 114, 0.4);
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
}
.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: rgba(151, 43, 35, 0.4);
    margin-top: 30px;
    color: rgb(183, 224, 224);
}

input {
    display: block;
    width: 80%;
    height: 20px;
    padding: 7px;
    margin-top: 9px;
    margin-bottom: 4px;
    margin-left: 8%;
    border: none;
}

#signup, #login {
    text-align: center;
    font-size: 30px;
}

label {
    margin-left: 8%;
}

button {
    width: 50%;
    margin-left: 25%;
    height: 40px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(230, 21, 21);
    color: rgb(183, 224, 224);
}

.signup-form span, .login-form span {
    margin-left: 28%;
    /* text-align: center; */

}

.signup-form span a, .login-form span a {
    color: rgb(122, 122, 202);
    text-decoration: none;
}